fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-jose
supabase
pymupdf
python-docx
pdfplumber
pydantic
pydantic-settings
langgraph
langchain
langchain-openai
python-multipart
weasyprint
faiss-cpu
langchain
langchain-community
langchain-openai
jinja2
openai
tiktoken
